/*  ----  Global Style Colors  ----  */
* {
    primary: #171729;
    primary-hover: #232336;
    secondary: #313143;
    secondary-hover: #3C3C4F;
    tertiary: #4F4E63;
    tertiary-hover: #5D5C72;
    quaternary: #67667C;
    quaternary-hover: #737289;
    quinary: #9896AE;
    quinary-hover: #A5A3BC;

    contrast-color: #DDDDDD;
}


/*  ----  LoadingWindow Style  ----  */
.loading-window {
    -fx-background-color: secondary;
    -fx-background-radius: 12;
}
.loading-window .label {
    -fx-text-fill: contrast-color;
    -fx-font-size: 16;
}


/*  ----  Choice-Dialog Style  ----  */
.choice-dialog {
    -fx-background-color: secondary;
    -fx-padding: 16;
}
.choice-dialog,
.choice-dialog HBox {
    -fx-spacing: 8;
}
.choice-dialog .label {
    -fx-text-fill: contrast-color;
    -fx-font-size: 14;
}
.choice-dialog .button {
    -fx-background-color: tertiary;
    -fx-background-radius: 8;
    -fx-text-fill: contrast-color;
    -fx-font-size: 14;
}
.choice-dialog .button:hover {
    -fx-background-color: tertiary-hover;
}


/*  ----  TextField Style  ----  */
.text-field {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 8;
    -fx-font-size: 14;
    -fx-background-insets: 0;
}


/*  ----  MenuBar Style  ----  */
.menu-bar {
    -fx-background-color: primary;
}
.menu-bar .label {
    -fx-font-size: 14;
    -fx-text-fill: contrast-color;
}
.menu-bar .menu:hover,
.menu-bar .menu:showing {
    -fx-background-color: secondary;
    -fx-background-radius: 4 4 4 4;
}


/*  ----  ContextMenu Style  ----  */
.context-menu {
    -fx-background-radius: 8;
    -fx-background-color: primary;
}
.context-menu .label {
    -fx-font-size: 14;
    -fx-text-fill: contrast-color;
}
.context-menu .menu-item:hover,
.context-menu .menu-item:focused {
    -fx-background-color: secondary;
    -fx-background-radius: 8;
}


/*  ----  SplitPane Style  ----  */
.split-pane {
   -fx-background-color: transparent;
}
.split-pane > .split-pane-divider {
    -fx-background-color: transparent;
}
.split-pane > .split-pane-divider:hover,
.split-pane > .split-pane-divider:pressed {
    -fx-background-color: primary-hover;
}


/*  ----  TabPane Style  ----  */
.tab-pane .tab-header-area .tab-header-background {
   -fx-background-color: secondary;
}
.tab {
    -fx-background-color: tertiary;
    -fx-background-radius: 8 8 0 0;
    -fx-border-radius: 8 8 0 0;
    -fx-padding: 1 5 1 0.5;
    -fx-background-insets: 1 5 1 1, 1 5 1 1, 2 5 1 1;
}
.tab:selected {
    -fx-border-radius: 8 8 0 0;
    -fx-border-color: transparent;
    -fx-padding: 1 5 1 0.5;
    -fx-background-insets: 0 5 0 0, 1 5 1 1, 2 5 0 0;
}
.tab:selected .tab-label {
    -fx-font-weight: bold;
}
.tab-pane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.tab .tab-label {
    -fx-padding: 2 8 0 8;
    -fx-font-size: 14;
    -fx-text-fill: contrast-color;
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button {
    -fx-background-color: contrast-color;
    -fx-scale-shape: false;
    -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
    -fx-effect: none;
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button:hover {
    -fx-background-color: derive(contrast-color, -30%);
}


/*  ----  ScrollBar Style  ----  */
.scroll-bar:horizontal {
    -fx-scale-x: 0;
    -fx-scale-y: 0;
}
.corner {
    -fx-scale-x: 0;
    -fx-scale-y: 0;
}
.scroll-bar {
    -fx-background-color : tertiary;
}
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 2px;
}
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 10 0 0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 1 0;
}
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0 1;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: quaternary;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0;
}
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: quaternary-hover;
}


/*  ----  ProgressIndicator Style  ----  */
.progress-indicator:indeterminate {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
.progress-indicator:indeterminate .segment {
    -fx-background-color: contrast-color;
}


/*  ----  FabricPane Style  ----  */
.fabric-pane > .viewport {
    -fx-background-color: transparent;
}
.fabric-pane {
    -fx-background-color: black;
}


/*  ----  FabricView Style  ----  */
.fabric-view {
    -fx-background-color: primary;
}
.fabric-view .tab-header-area .tab-header-background {
    -fx-background-radius: 12 12 0 0;
}


/*  ----  ContentInfoView Style  ----  */
.content-info-view {
    -fx-background-color: primary;
}
.content-info-view .tab-pane {
    -fx-background-color: secondary;
}
.content-info-view >.tab-header-area .tab-header-background {
    -fx-background-radius: 12 12 0 0;
}
.content-info-view .tree-view {
    -fx-background-insets: 0;
    -fx-background-color: secondary;
}
.content-info-view .tree-view:focused {
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-padding: 0;
    -fx-border-color: secondary;
    -fx-background-color: secondary;
}
.content-info-view .tree-cell {
    -fx-background-color: secondary;
}
.content-info-view .tree-cell:hover {
    -fx-background-color: secondary-hover;
}
.content-info-view .tree-cell:selected {
    -fx-background-color: tertiary;
}
.content-info-view .element-view .label {
    -fx-text-fill: contrast-color;
}
.content-info-view .netlist-view .label,
.content-info-view .netlist-view .check-box {
    -fx-padding: 4;
    -fx-font-size: 14;
    -fx-text-fill: contrast-color;
}
.content-info-view .netlist-view HBox {
    -fx-padding: 4;
    -fx-spacing: 4;
}
.content-info-view .netlist-view .button {
    -fx-background-radius: 12;
    -fx-background-color: secondary;
    -fx-text-fill: contrast-color;
    -fx-font-size: 14;
}
.content-info-view .netlist-view .button:hover {
    -fx-background-color: secondary-hover;
}
.content-info-view .tree-view .tree-cell .tree-disclosure-node .arrow  {
    -fx-background-color: contrast-color;
}
.content-info-view .list-view {
    -fx-background-color: secondary;
}
.content-info-view .list-cell {
    -fx-background-color: secondary;
}
.content-info-view .list-cell:hover {
    -fx-background-color: secondary-hover;
}
.content-info-view .list-cell:selected {
    -fx-background-color: tertiary;
}


/*  ----  SettingsView Style  ----  */
.settings-view > .viewport {
    -fx-background-color: transparent;
}
.settings-view {
    -fx-background-color: secondary;
    -fx-background-radius: 12 0 0 0;
}
.settings-view .title {
    -fx-padding: 16 0 -16 0;
}


/*  ----  SettingSection Style  ----  */
.setting-section {
    -fx-spacing: 4;
    -fx-padding: 32;
}


/*  ----  BottomMenu Style  ----  */
.bottom-menu {
    -fx-background-color: secondary;
    -fx-padding: 8;
}
.bottom-menu .search-feedback {
    -fx-text-fill: contrast-color;
    -fx-padding: 4;
}
.bottom-menu .choice-box {
    -fx-background-radius: 8;
}
.bottom-menu .label,
.bottom-menu .button {
    -fx-font-size: 14;
}


/*  ----  PageMenu Style  ----  */
.page-menu .buttons {
    -fx-background-color: primary;
    -fx-padding: 12 12 12 0;
    -fx-spacing: 12;
    -fx-background-radius: 0;
}
.page-menu .highlights {
    -fx-background-color: primary;
    -fx-padding: 22 4 22 0;
    -fx-spacing: 32;
    -fx-background-radius: 0 0 0 0;
}
.page-menu > .highlights > .highlight {
    -fx-background-radius: 0 2 2 0;
    -fx-padding: 0 8 0 0;
    -fx-translate-x: -4;
}
.page-menu .button {
    -fx-background-radius: 10;
}


/*  ----  Wizard Style  ----  */
.wizard {
    -fx-tab-max-height: -8;
    -fx-background-color: primary;
}
.wizard > .tab-header-area > .tab-header-background {
    -fx-background-color: primary;
}
.wizard > .tab {
    -fx-background-color: transparent;
}


/*  ----  WorldView Style  ----  */
.world-view {
    -fx-background-color: black;
}


/*  ----  ColorPicker Style  ----  */
.color-picker {
    -fx-background-color: quaternary;
    -fx-background-radius: 8;
}
.color-picker .label {
    -fx-text-fill: contrast-color;
}
.color-picker > .arrow-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 5 5 0, 0 4 4 0, 0 3 3 0;
}
.color-palette .hyperlink, .color-palette .separator {
  visibility: hidden ;
}
.color-palette {
    -fx-background-color: quaternary;
    -fx-padding: 15 15 -30 15;
}
.color-palette > .color-picker-grid > .color-square > .color-rect {
    -fx-stroke: white;
    -fx-stroke-width: 0.4;
    -fx-border-color: white;
}


/*  ----  ExplorerView Style  ----  */
.explorer-view .tree-view,
.explorer-view .list-view {
    -fx-background-insets: 0;
    -fx-background-color: secondary;
}
.explorer-view .tree-view:focused,
.explorer-view .list-view:focused {
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-padding: 0;
    -fx-border-color: secondary;
    -fx-background-color: secondary;
}
.explorer-view .tree-cell,
.explorer-view .list-cell {
    -fx-background-color: secondary;
}
.explorer-view .tree-cell:hover,
.explorer-view .list-cell:hover {
    -fx-background-color: secondary-hover;
}
.explorer-view .tree-cell:selected,
.explorer-view .list-cell:selected {
    -fx-background-color: tertiary;
}
.explorer-view .tree-cell > .tree-disclosure-node > .arrow {
    -fx-shape: "M 400 400 L 300 550 Q 250 600 250 550 L 350 400 L 250 250 Q 250 200 300 250 Z";
    -fx-scale-x: 1.4;
    -fx-scale-y: 1.7;
    -fx-background-color: contrast-color;
}
.explorer-view .label {
    -fx-font-size: 14;
    -fx-text-fill: contrast-color;
}


/*  ----  ExplorerMenu Style  ----  */
.explorer-menu {
    -fx-background-color: secondary;
    -fx-spacing: 4;
    -fx-padding: 8;
    -fx-border-width: 0 0 0.3 0;
    -fx-border-color: contrast-color;
}
.explorer-menu .button {
    -fx-background-radius: 12;
    -fx-background-color: secondary;
}
.explorer-menu .label {
    -fx-background-radius: 12;
    -fx-padding: 4;
    -fx-background-color: secondary;
}
.explorer-menu .button:hover {
    -fx-background-color: secondary-hover;
}
.explorer-menu .text-field {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-font-size: 14;
    -fx-text-fill: contrast-color;
    -fx-background-insets: 0;
}


/*  ----  EmptyHintView Style  ----  */
.empty-hint-view {
    -fx-background-color: tertiary;
}
.empty-hint-view .label {
    -fx-font-size: 16;
    -fx-text-fill: contrast-color;
}


/*  ----  EditDesignMenu Style  ----  */
.edit-design-menu {
    -fx-border-width: 0.5 0 0 0.5;
    -fx-border-color: primary;
    -fx-background-color: secondary;
    -fx-background-radius: 12 0 0 0;
    -fx-spacing: 8;
    -fx-padding: 8 16 8 8;
}
.edit-design-menu .button {
    -fx-border-width: 0.2;
    -fx-border-radius: 8;
    -fx-border-color: contrast-color;
    -fx-padding: 2;
    -fx-background-color: secondary;
}
.edit-design-menu .button:hover,
.edit-design-menu .menu-button:hover {
    -fx-background-color: secondary-hover;
}
.edit-design-menu .menu-button {
    -fx-border-width: 0.2;
    -fx-border-radius: 8;
    -fx-border-color: contrast-color;
    -fx-background-color: secondary;
    -fx-background-radius: 8;
}
.edit-design-menu .label {
    -fx-font-size: 14;
    -fx-text-fill: contrast-color;
}


/*  ----  CodeView Style  ----  */
.code-view {
    -fx-background-color: #1D1E1F;
    -fx-font-size: 14;
    -fx-padding: 4;
}
.code-view .paragraph-text {
    -fx-font-family: "Consolas";
    -fx-tab-size: 4;
}
.code-view .text {
    -fx-fill: #D3D3D3;
}
.code-view .keyword {
    -fx-fill: orange;
}
.code-view .semicolon {
    -fx-fill: orange;
    -fx-font-weight: bold;
}
.code-view .paren {
    -fx-fill: #3344CC;
    -fx-font-weight: bold;
}
.code-view .bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.code-view .brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.code-view .string {
    -fx-fill: #CD9278;
}
.code-view .comment {
	-fx-fill: #6A9955;
}
.code-view .multicomment {
	-fx-fill: #6A9955;
}
.code-view .code {
	-fx-fill: #D3D3D3;
}
.code-view .code:selected {
	-fx-fill: #D3D3D3;
}
.code-view .code:highlighted {
	-fx-fill: #D3D3D3;
}
.code-view .selection {
    -fx-fill: #393C41;
}
.code-view .paragraph-box:has-caret {
    -fx-background-color: #1D1E1F;
}
.code-view .caret {
	-fx-stroke: #D3D3D3;
}
.code-view .lineno {
    -fx-background-color: #1D1E1F;
    -fx-font-family: "Consolas";
}
.code-view .lineno .text {
    -fx-fill: #878685;
}


/*  ----  StatisticView Style  ----  */
.statistic-view {
    -fx-background-color: secondary;
    -fx-padding: 16;
}
.statistic-view > .viewport {
    -fx-background-color: transparent;
}
.statistic-view .label {
    -fx-font-size: 14;
    -fx-text-fill: contrast-color;
}
.statistic-view .key-value-title {
    -fx-padding: 0 10 0 35;
}
.statistic-view .accordion .titled-pane .title {
    -fx-background-color: tertiary;
    -fx-background-radius: 8;
}
.statistic-view .accordion .titled-pane>*.content {
    -fx-background-color: tertiary;
    -fx-background-radius: 0 0 8 8;
    -fx-background-insets: 0 8 0 8;
    -fx-padding: 4;
    -fx-border-width: 0;
}
.statistic-view .accordion .titled-pane .title:hover {
    -fx-background-color: tertiary-hover;
}
.statistic-view .accordion .titled-pane>.title>.arrow-button>.arrow {
    -fx-background-color: contrast-color;
}


/*  ----  BreadCrumbBar Style  ----  */
.bread-crumb-bar .button {
    -fx-font-size: 14;
    -fx-text-fill: contrast-color;
    -fx-border-width: 0;
    -fx-padding: 4;
}


/*  ----  CompilerSetupView Style  ----  */
.compiler-setup-view {
    -fx-background-color: secondary;
    -fx-spacing: 8;
    -fx-padding: 16;
}
.compiler-setup-view .label {
    -fx-font-size: 16;
    -fx-text-fill: contrast-color;
}
.compiler-setup-view .title {
    -fx-font-size: 20;
}

.compiler-setup-view .radio-button {
    -fx-font-size: 14;
    -fx-text-fill: contrast-color;
}

/* TODO: extra css file for ids */
#highlight-on {
    -fx-background-color: contrast-color;
}
#highlight-off {
    -fx-background-color: primary;
}

#yesButton, #noButton {
    -fx-background-color: secondary;
    -fx-background-radius: 8;
    -fx-font-size: 14;
    -fx-text-fill: contrast-color;
}
#yesButton:hover {
    -fx-background-color: #315443;
}
#noButton:hover {
    -fx-background-color: secondary-hover;
}
