* {
    icon-color: #DDDDDD;
    hover-color: #FAFAFA;
}

#chip-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2m-memory";
    -fx-icon-color: icon-color;
    -fx-icon-size: 32px;
}

#edit-design-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2p-playlist-edit";
    -fx-icon-color: icon-color;
    -fx-icon-size: 32px;
}

#settings-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2a-application-cog";
    -fx-icon-color: icon-color;
    -fx-icon-size: 32px;
}

#directory-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2f-folder";
    -fx-icon-color: icon-color;
    -fx-icon-size: 20px;
}

#file-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2t-text";
    -fx-icon-color: icon-color;
    -fx-icon-size: 20px;
}

#compile-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2p-play";
    -fx-icon-color: green;
    -fx-icon-size: 24px;
}

#stop-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2s-stop";
    -fx-icon-color: orangered;
    -fx-icon-size: 24px;
}

#upload-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2u-upload";
    -fx-icon-color: icon-color;
    -fx-icon-size: 24px;
}

#setup-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2f-file-cog";
    -fx-icon-color: icon-color;
    -fx-icon-size: 20px;
}

#search-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2m-magnify";
    -fx-icon-color: icon-color;
    -fx-icon-size: 20px;
}

#expand-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2p-plus-box-multiple";
    -fx-icon-color: icon-color;
    -fx-icon-size: 20px;
}

#collapse-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2m-minus-box-multiple";
    -fx-icon-color: icon-color;
    -fx-icon-size: 20px;
}

#erase-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2e-eraser";
    -fx-icon-color: orangered;
    -fx-icon-size: 20px;
}

#clear-selection-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2s-selection-off";
    -fx-icon-color: icon-color;
    -fx-icon-size: 20px;
}